@model EditorTexto.Models.Documento

@{
    ViewData["Title"] = "Edit";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea id="tiny" asp-for="Corpo" style="width: 60vw; height: 80vh"></textarea>
                <span asp-validation-for="Corpo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="UsuarioId" class="form-control" />
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a class="btn btn-danger ml-2" asp-action="Delete" asp-route-id="@Model.Id">Excluir</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info mt-3" asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
